body {
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
}

nav {
  float: right;
  line-height: 24px;
  margin-right: 25px;
}

nav ul {
  margin-top: 5px;
}

nav ul li {
  display: inline;
  margin: 0 6px;
}

nav ul li a {
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #000;
  opacity: .75;
}

nav ul li a:hover {
  text-decoration: underline;
}

.nohover:hover {
  text-decoration: none;
}

.nav_button {
  font-weight: bold;
  background: #4387fd;
  line-height: 28px;
  color: #fff;
  border: 1px solid #4285f4;
  display: inline-block;
  padding: 0 12px;
  opacity: 1;
  border-radius: 2px;
}

#google_apps {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("../images/apps_gray.png");
  background-repeat: no-repeat;
  position: relative;
  top: 13px;
}

#google_apps:hover {
  background-image: url("../images/apps_black.png");
  background-repeat: no-repeat;
}
