body {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #000;
  opacity: .75;
}

/* Header and navigation */
header {
  position: absolute;
  width: 100%;
}

nav {
  float: right;
  line-height: 24px;
  margin-right: 25px;
}

nav ul {
  margin-top: 5px;
}

nav ul li {
  display: inline;
  margin: 0 6px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.nohover:hover {
  text-decoration: none;
}

.nav_button {
  font-weight: bold;
  background: #4387fd;
  line-height: 28px;
  color: #fff;
  border: 1px solid #4285f4;
  display: inline-block;
  padding: 0 12px;
  opacity: 1;
  border-radius: 2px;
}

#google_apps {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("../images/apps_gray.png");
  background-repeat: no-repeat;
  position: relative;
  top: 13px;
}

#google_apps:hover {
  background-image: url("../images/apps_black.png");
  background-repeat: no-repeat;
}

/* Logo and search */
#search {
  position: relative;
  width: 585px;
  text-align: center;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
}

#search form {
  position: relative;
}

#search input[type=text] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 33px;
  padding: 12px 20px;
}

#search input[type=button] {
  background-color: #f2f2f2;
  text-decoration: none;
  font-size: 13px;
  padding: 10px 15px;
  margin: 30px 2px;
  display: inline-block;
  text-align: center;
  border: none;
  font-weight: bold;
  opacity: .65;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#microphone {
  position: absolute;
  top: 8px;
  right: 15px;
  display: inline-block;
  background-size: 24px 24px;
  height: 23px;
  width: 20px;
  background-image: url("../images/microphone.png");
}

/* Footer */

footer {
  background: #f2f2f2;
  width: 100%;
  position: absolute;
  bottom: 0px
}

footer ul {
  display: inline-block;
}

footer ul li {
  display: inline-block;
  margin: 0 10px
}

footer ul li a {
  color: #666;
  opacity: .95;
}

#left_footer {
  margin-left: -25px;
  width: 30%;
  position: relative;
  left: 0px;
}

#right_footer {
  width: auto;
  position: absolute;
  right: 30px;
}
